:host-context(ix-form-actions) {
  align-items: center;
  background: var(--bg2);
  border-bottom: 1px solid var(--lines);
  box-sizing: border-box;
  color: var(--fg1);
  display: flex;
  flex-gap: 8px;
  height: 64px;
  justify-content: space-between;
  left: 0;
  min-height: 64px;
  padding: 0 16px 0 32px;
  position: sticky;
  top: 0;
  word-break: break-all;
  z-index: 1;
}

:host {
  align-items: center;
  display: flex;
  gap: 8px;

  .header,
  .actions {
    align-items: center;
    display: flex;
    gap: 16px;
  }
}

:host-context(mat-vertical-stepper) :host {
  flex-wrap: wrap;
  justify-content: flex-start;

  ::ng-deep > * {
    gap: 8px;
  }
}
